/BackEnd/packages
/BackEnd/.vs

/BackEnd/BackEnd/bin
/BackEnd/BackEnd/obj

/BackEnd/BusinessLogic/bin
/BackEnd/BusinessLogic/obj

/BackEnd/DataAccess/bin
/BackEnd/DataAccess/obj

/BackEnd/Dtos/bin
/BackEnd/Dtos/obj

/BackEnd/Exceptions/bin
/BackEnd/Exceptions/obj

/BackEnd/NUnitTestProject/bin
/BackEnd/NUnitTestProject/obj